---
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Layout title="Blog to Boosti." meta_description="Blog Description">
  <main>
    <h1>Blog <span class="text-gradient">Boosti.pro</span></h1>

    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
